head {
    text-transform: uppercase;
    text-align: left;
}

html {
    width: 1000px;
    height: 1000px;
}

h2 {
    color: #3498db;
}

p:nth-of-type(1) {
    border-left: rgba(219, 23, 219, 0.133);
    border-left-color: #d81c1c;
}

p:nth-of-type(3) {
    
    border-bottom: 2px solid #d81c1c;

}

h1 {
    color: #2c3e50;
}

