input {
    border: 3px solid red;
    
}

/*class*/
selecionar classe
.hello {
    background: white;
}
com id
#speciaç{
    border: 2px solid rgb(0,100,200);
}

div p{
    font-size: 25px;
}

input [type="text"] {
    background: gray;
}

div:nth-of-type(3)  p {
    background: pink;
}

div:nth-of-type(3) p:nth-of-type(2) {
    border: 5px solid white;
}

div:nth-of-type(3) em {
    color:white;
    font-size: 20px;
}


input:checked {
    margin-left: 50px;
}

label {
    text-transform: uppercase;
}

#special:first-letter {
    color: green;
    font-size:100px;
}

h1:hover {
    color:blue;
}

a:visited{
    color:gray;
}


p {
    font-family: "Arial";
}

h1 {
    font-family: "Geogia";
}

h1 {
    font-size: 100px;
}

span {
    font-size: 2.0em; /* é o jeito de "aumentar dinamicamente" uma fonte, pois ela aumenta com relação ao 'pai' (title -> head -> body -> h1 -> p) e vai mudando de acordo com o tamanho imposto do texto anterior */
}

p {
    font-weight: bold;
}

p {
    line-height: 2;
}

h1 {
    text-align : right;
}

p { 
    text-align: center;
}

p {
    text-decoration: underline;
}

h1 {
    text-decoration: line-through;
}







